extends ../layout/page.pug

block content
  main
    .container.py-5
      .row.justify-content-center
        .col-md-6
          h1.mb-4 #{t('views.session.new.signIn')}

          form(method='POST' action='/session')
            .mb-3
              label.form-label(for='data_email') Email
              input#data_email.form-control(
                type='text'
                name='data[email]'
                placeholder='Email'
              )

            .mb-3
              label.form-label(for='data_password') Пароль
              input#data_password.form-control(
                type='password'
                name='data[password]'
                placeholder='Пароль'
              )

            input.btn.btn-primary(type='submit' value=t('views.session.new.submit'))
